/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
.container {
    width: 80%;
    margin: 0 auto;
}

body{
    background-color: #F6F8F9;
}

/*header*/ 

.header {
    height: 80px;
    line-height: 80px;
    font-family: 'Roboto', sans-serif;
} 

.container-header-logo {
    background-color: white;
    width: 100%;
    height: 100%;
}

#logo-img {
    height: 60px;
    vertical-align: middle; 
}

#logo-text {
    font-size: 50px;
    vertical-align: middle; 

}

.logo {
    margin-left: 20px;
}

/*nav*/
.container-nav {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #FFFFFF;
}

#add-task {
    color: white;
    background-color:#47ADF1 ;
    padding: 10px;
    border: 0;
    border-radius: 10%;
}

#add-section {
    color: grey;
    background-color:#FFFFFF ;
    padding: 10px;
    border: 15px 5px grey;
    border-radius: 10%;
}

/*main*/

main {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style:none
}

.lista {
    background-color: white;
    margin-top: 5px;
}

.title-lista {
    font: 20px;
    padding-top: 20px;
}
.paragrafo-lista {
    padding-top: 10px;
}

.title-lista:before {
    content: "\23F7";
}

.radius {
    padding: 5px;
    border-radius: 30%;
    font-size: 10px;
    color: white;
    vertical-align: middle; 
}

#bluelight {
    background-color: #45ABEA;
}

#violet {
    background-color:#9C72E4 ;
}

#green {
    background-color: #64C0A9
}

#orange {
    background-color:#F29E33 ;
}

#pink {
    background-color:#D863A1 ;
}

#olive {
    background-color:#B0C926 ;
}

.checked {
    border: 2px solid #64C0A9;
    border-radius: 80%;
    color: #64C0A9;
    font-size: 15px; 
    vertical-align: middle; 

 }

.cross {
    border: 2px solid red;
    border-radius: 80%;
    color: red;
    font-size: 15px; 
    vertical-align: middle; 
}


